@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Poppins&display=swap');

:root{
    --orange:#163229;
}
*{
    font-family: 'Nunito';
    margin:0;padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline:none;border:none;
    text-decoration:none;
    color:#444;
    transition:all 0.2s linear;
}

*::selection{
    background:var(--orange);
    color:white;
}
html{
    font-size:70%;
    overflow-x:hidden;
    scroll-padding-top:6rem;
    scroll-behavior:smooth;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2.5rem 0;
    position: relative;
    bottom:170px;
}

.heading span{
    font-size:3.5rem;
    background:rgba(255,165,0,.2);
    color:orange;
    border-radius: .5rem;
    padding:1rem 1rem;
}
.heading span.space{
    background:none;
}
.btn{
    display:inline-block;
    margin-top: 1rem;
    background:orange;
    color:#fff;
    padding: .8rem 3rem;
    border:0.2rem solid orange;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background:whitesmoke;
    color:orange;
}
header{
    position:fixed;
    top:0;
    left:0; right:0px;
    background:black;
    z-index:1099;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}

header .logo .part-1{
    font-size: 30px;
    font-family:'poppins';
    text-transform: uppercase;
}
header .logo .part-2{
    margin-left: 3px;
    font-weight: bold;
    font-size: 30px;
    font-family:'poppins';
    color:orange;
    text-transform: uppercase;
}

header .navbar a{
    color:#fff;
    font-size:2rem;
    margin:0 0.8rem;
}
header .navbar a:hover{
    color:orange;
}

header .icons ion-icon{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right:2rem;
}
header .icons ion-icon:hover{
    color:orange;
}
header .navbarsearch{
    position:absolute;
    top:100% ; left:0; right:0;
    padding:1.5rem 2rem;
    background:#333;
    border-top:0.1 rem solid rgba(255,255,255,0.2);
    display:flex;
    align-items: center;
    clip-path:polygon(0 0,100% 0,100% 0,0 0);
}
header .navbarsearch.active{
    clip-path:polygon(0 0,100% 0,100% 100%,0 100%);
}
header .navbarsearch #search-bar{
    width:100%;
    padding:1rem;
    text-transform:none;
    color:#333;
    font-size: 1.7rem;
    border-radius:0.5rem;

}
header .navbarsearch label{
    color:#fff;
    cursor:pointer;
    font-size:3rem;
    margin-left:1.5rem;
}

header .navbarsearch label:hover{
    color:orange;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/* login form  */
.login-container{
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 100000;
    min-height: 100vh;
    width:100%;
    background: rgba(0, 0, 0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container.active{
    top:0px;
}
.login-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
    width: 50rem;
}
.login-container form h3{
    font-size:3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
}
.login-container form .box{
    width:100%;
    padding: 1rem;
    font-size: 1.6rem;
    color:#333;
    margin:0.6rem 0;
    border:0.1rem solid rgba(0, 0, 0,.3);
    text-transform:none;
}
.login-container form .box:focus{
    border:1.8px solid orange;
}

.login-container form #remember{
    margin:2rem 0;
}
.login-container form label{
    font-size:1.5rem;
}
.login-container form .btn{
    display: block;
    width:100%;
}
.login-container form p{
    padding:0.5rem 0;
    font-size:1.5rem;
    color:#555;
}
.login-container form p a{
    color:orange;
}
.login-container form p a:hover{
    color:#444;
    text-decoration:underline;
}
.login-container #form-close{
    position:absolute;
    top: 2rem;
    right:3rem;
    font-size:3.5rem;
    color:#fff;
    cursor:pointer;
}
#menubar{
    color:#fff;
    border:.1rem solid #fff;
    border-radius:0.5rem;
    font-size: 3rem;
    cursor: pointer;
    padding: 0.4rem 0.7rem;
    display:none;
}

.home{
    min-height: 100vh;
    display:flex;
    align-items: center;;
    justify-content: center;
    flex-flow:column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align:center;
    position: relative;
    bottom:500px;
}
.home .content h3{
    font-size:4.5rem;
    color:rgb(0, 0, 0);
    text-transform:uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0,.1);
}
.home .content p{
    font-size:4.5rem;
    color:#222;
    padding:.5rem 0;
}

.home::before{
    content:' ';
    background: url('images/background2.jpg') center center/cover no-repeat;
    width:100vw;
    height:100vh;
    z-index:-1;
    opacity: 0.9;
}
.row{
    position: relative;
    bottom: 100px;
}
.book .row{
    display: flex;
    flex-wrap:wrap;
    gap:1.5rem;
    align-items: center;
}
.book .row .image{
    flex:1 1 40rem;
}
.book .row .image img{
    width:100%;
}
.book .row form{
    flex:1 1 40rem;
    padding:2rem;
    box-shadow:0 1rem 2rem rgba(0, 0, 0,.1);
    border-radius: .5rem;
}
.book .row form .inputBox{
    padding:.5rem 0;
}
.book .row form .inputBox input{
    width:100%;
    padding:1rem;
    border:.1rem solid rgba(0, 0, 0,.1);
    font-size:1.7rem;
    color:#333;
    text-transform: none;
}
.book .row form .inputBox h3{
    font-size: 2rem;
    padding: 1rem 0;
    color:#666;
}

#packages .heading{
position: relative;
top:-50px;
}
.packages .box-container{
    display: flex;
    flex-wrap:wrap;
    gap:1rem;
}

.packages .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
}
.packages .box-container .box img{
    height:25rem;
    width:100%;
    object-fit: cover;
    overflow:hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.1);
}
.packages .box-container .box .content{
    padding:2rem;
}
.packages .box-container .box .content h3{
    font-size: 2rem;
    color:#333;
}
.packages .box-container .box .content ion-icon{
    font-size: 2rem;
    color:orange;
}
.packages .box-container .box .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
}
.packages .box-container .box .content .price{
    font-size: 2rem;
    color:#333;
    padding-top: 1rem;
}
.packages .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#666;
    text-decoration: line-through;
}

.contact{
    position: relative;
    top:17rem;
}

.contact .row{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.contact .row .image{
    flex:1 1 35rem;
}
.contact .row .image img{
    width: 100%;
}
.contact .row form{
    flex:1 1 50rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.1);
    border-radius: .5rem;
}
.contact .row form .inputBox{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.contact .row form .inputBox input,.contact .row form textarea{
    width:49%;
    margin:1rem 0;
    padding:1rem;
    font-size:1.7rem;
    color:#333;
    background: #f7f7f7;
}
.contact .row form textarea{
    height: 15rem;
    resize:none;
    width:100%;
}

.footer{
    position:relative;
    top: 50px;
    background:black;
}
.footer .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
}
.footer .box-container .box h3{
    font-size:2.5rem;
    padding: .7rem 0;
    color:#fff;
}
.footer .box-container .box p{
    font-size:1.5rem;
    padding: .7rem 0;
    color:#fff;
}
.footer .box-container .box a{
    display:block;
    font-size:1.5rem;
    padding:.7rem 0;
    color:#eee;
}
.footer .box-container .box a:hover{
    color:orange;
    text-decoration:underline;
}
.footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:white;
}
.footer .credit span{
    color:orange;
}





/* body{
    height: 300rem;
} */



/* media queries */

@media(max-width:1200px){
    html{
        font-size:55%;
    }
}
@media(max-width:990px){
    header{
        padding:2rem;
    }
    section{
        padding:2rem;
    }
}
@media(max-width:768px){
    #menubar{
        display:block;
    }

    header .navbar{
        position:absolute;
        top:20%;right:0;left:0;
        background:black;
        border-top: .1rem solid rgba(255,255,255,0.2);
        padding:1rem 2rem;
        margin-top: 50px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display:block;
        border-radius:.5rem;
        padding:1.5rem;
        margin:1.5rem 0;
        background:#222;
    }
}
@media(max-width:450px){
    html{
        font-size:50%;
    }
    .heading span{
        font-size:2.5rem;
    }
    .contact .row form .inputBox input{
        width:100%;
    }
}




